<body style="padding:8%">

<form *ngIf="tester" #employeeForm='ngForm'  >
  <h2 style="text-align:center"> Employee Details</h2>
  <div >
    <div>
      <div class="form-group" [ngClass]="{'has-error':FIRST_NAMEcon.invalid}">
        <label for="FIRST_NAME" class="control-label">First Name:</label> 
        <input required minlength="2" maxlength="35" pattern="[A-Za-z]*" [(ngModel)]="tester.firstName" name="FIRST_NAME" class="form-control" #FIRST_NAMEcon='ngModel'  placeholder="first name"/>
        <div class="alert alert-danger" *ngIf="FIRST_NAMEcon.invalid">First Name is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': LAST_NAMEcon.invalid}">
        <label for="LAST_NAME" class="control-label">Last Name: </label>
        <input required minlength="2" maxlength="35" pattern="[A-Za-z]*" [(ngModel)]="tester.lastName"  name="LAST_NAME" class="form-control" #LAST_NAMEcon = 'ngModel' placeholder="last name"/>
        <div class="alert alert-danger" *ngIf="LAST_NAMEcon.invalid">Last Name is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':ADDRESScon.invalid}">
        <label for="ADDRESS" class="control-label">Address:</label> 
        <input required minlength="10" maxlength="50" pattern="[a-zA-Z0-9 ]*" [(ngModel)]="tester.address" name="ADDRESS" class="form-control" #ADDRESScon='ngModel' placeholder="address"/>
        <div class="alert alert-danger" *ngIf="ADDRESScon.invalid">Address is Required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':CITYcon.invalid}">
        <label for="CITY" class="control-label">City:</label> 
        <input required minlength="5" maxlength="50" pattern="[A-Za-z]*" [(ngModel)]="tester.city" name="CITY" class="form-control" #CITYcon="ngModel" placeholder="city"/>
        <div class="alert alert-danger" *ngIf="CITYcon.invalid">City is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':STATEcon.invalid}">
          State : <select id="state" [(ngModel)]="tester.state" class="form-control" name="state" #STATEcon="ngModel" >
            <option *ngFor="let st of states" [value]="st.name"  >{{st.name}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="STATEcon.invalid">State is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':ZIPcon.invalid}">
        <label for="ZIP" class="control-label">Zip/Postal Code:</label> 
        <input required minlength="5" maxlength="9" pattern="[0-9]*" [(ngModel)]="tester.zip" name="ZIP" class="form-control" #ZIPcon="ngModel" placeholder="zip"/>
        <div class="alert alert-danger" *ngIf="ZIPcon.invalid">Zip/Postal Code is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':CELL_PHONEcon.invalid}">
        <label for="CELL_PHONE" class="control-label"> Cell Phone: </label> 
        <input required minlength="10" maxlength="10" pattern="[0-9]*" [(ngModel)]="tester.cellPhone" name="CELL_PHONE" class="form-control" #CELL_PHONEcon="ngModel" placeholder="cell phone"/>
        <div class="alert alert-danger" *ngIf="CELL_PHONEcon.invalid">Cell Phone is required</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':HOME_PHONEcon.invalid}">
        <label for="HOME_PHONE" class="control-label">Home Phone: </label> 
        <input required minlength="10" maxlength="10" pattern="[0-9]*"[(ngModel)]="tester.homePhone" name="HOME_PHONE" class="form-control" #HOME_PHONEcon="ngModel" placeholder="home phone"/>
        <div class="alert alert-danger" *ngIf="HOME_PHONEcon.invalid">Home Phone is required</div>
      </div>
      <div class="form-group " [ngClass]="{'has-error':EMAILcon.invalid}">
        <label for="EMAIL" class="control-label">Email:</label> 
        <input required minlength="10" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="tester.email" name="EMAIL" class="form-control" #EMAILcon="ngModel" placeholder="email"/>
        <div class="alert alert-danger " *ngIf="EMAILcon.invalid">Email is required</div>
      </div>

    </div>
  </div>
  <button (click)="Save()" [routerLink]="['/employees']" [disabled]="employeeForm.form.invalid">Save</button>
  <button (click)="Cancel()">Cancel</button>
</form>
</body>



